@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items-lines {
  $grid-items-background: $base-background-color;
  $grid-item-background: $base-background-color;
  $grid-item-border: 1px solid transparentize($base-font-color, .8);
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-color: $base-font-color;
  $grid-item-height: 32px;

  @include clearfix;
  position: relative;

  .grid-item {
    @include transition (all 0.2s ease-in-out);
    background: $grid-item-background;
    height: 180px;
    width: 100%;
    overflow: hidden;
    float: left;
    padding: 3em;
    border-right: $grid-item-border;
    border-bottom: $grid-item-border;
    cursor: pointer;
    text-align: center;

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    &:hover {
      background: lighten($base-background-color, 5);
    }

    img {
      @include filter(grayscale(100%));
      @include transform(translateZ(0));
    }

    &.subscription-active {
      img {
        @include filter(grayscale(0%));
      }
    }
  }

  .grid-item label {
    display: inline-block;
    margin: 0;
  }

  .grid-item h1 {
    color: $grid-item-color;
    font-size: 1.2em;
    font-weight: normal;
    line-height: $grid-item-height;
  }

  .grid-item p {
    color: transparentize($grid-item-color, .4);
  }

  // this, below, might not be the most beautiful solution but it removes the outer borders by using the background color.
  .bottom-cover {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 1px;
    background: $grid-items-background;
  }

  .right-cover {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 1px;
    background: $grid-items-background;
  }
}

.service-logo {
  max-height: 50px;
  max-width: 200px;
}
