.label-switch {
  $switch-width: 52px;
  $switch-padding: 2px;
  $switch-height: 32px;
  $switch-radius: $switch-height;
  $knob-height: $switch-height - ($switch-padding * 2);
  $knob-width: $knob-height;
  $knob-radius: $switch-height - ($switch-padding * 2);

  input[type="checkbox"] {
    display: none;

  + .checkbox {
    background: #686356;
    border-radius: 40px;
    height: 15px;
    position: relative;
    width: 35px;
    z-index: 1;

    &:before {
      background: #fff;
      border-radius: 100%;
      content: " ";
      height: 13px;
      width: 13px;
      z-index: 2;
      @include box-sizing(border-box);
      @include position(absolute, 1px 0 0 1px);
      @include transition(all 0.3s ease);
      @include transform(scale(1));
    }

    &:after {
      @include position(absolute, 2px 0 0 2px);
      @include transition(all 0.3s ease);
    }
  }

  &:checked {
    + .checkbox {
      background: #7ED321;

        &:before {
          left: $switch-width - $knob-width - ($switch-padding) - 1px;
        }
      }
    }
  }
}
