<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <a href="<%= @service_url %>"><%= @service_url %></a>
    </p>
  </body>
</html>
