%ul.grid-items-lines{ 'ng-controller' => 'DashboardController',
  'ng-init' => "initialize({services: #{@services.to_json}, subscriptions: #{@subscriptions.to_json}})" }
  %li.grid-item{ 'ng-repeat' => 'service in services',
    'ng-click' => 'updateSubscription(service)',
    'ng-class' => '{"subscription-active": findSubscription(service)}'}
    %img.service-logo{src: "/service-logos/{{service.name}}.png"}
    %h1{ 'ng-bind' => 'service.name' }
    %label.label-switch
      %input{ type: "checkbox",
        'ng-checked' => 'findSubscription(service)',
        'ng-click' => 'updateSubscription(service)' }
        .checkbox
  %li.right-cover
  %li.bottom-cover
