%header.navigation
  .navigation-wrapper
    %a.logo{ 'href' => '/' }
      = t('titles.application')
    .navigation-tools
      %ul.navigation-menu
        %li.nav-link
          %a{ 'ng-click' => 'openSettings()' }
            Settings
