%header.navigation
  .navigation-wrapper
    %a.logo{ 'href' => '/' }
      Status Board
    .navigation-tools
      %ul.navigation-menu
        %li.nav-link.more
          %a{ 'ng-bind' => 'user.emailAddress' }
          %ul.submenu
            %li
              %a{ 'ng-click' => 'openProfile()' }
                Profile
            %li
              = link_to 'Sign Out', sign_out_path
