.hero
  .hero-inner
    .hero-copy
      %h1
        = t('titles.application')
      %p
        Select the services you rely on and get notified in Slack when they go down.
      = link_to 'Sign In with GitHub', '/auth/github', class: 'button'
