.hero
  .hero-inner
    .hero-copy
      %h1
        Monitor all the things
      %p
        Simply select the services that you use and get notified when anything breaks.
      = link_to 'Sign In with GitHub', '/auth/github', class: 'button'
