.modal
  .modal-window{ 'ng-class' => '{open: showProfile}' }
    .modal-inner
      %label.modal-close{ 'ng-click' => 'closeProfile()' }
      %p.body
        .form
          %fieldset
            %label
              Email Address
            %input{ 'ng-model' => 'user.emailAddress' }
          %button{ 'ng-click' => 'updateUser()' }
            Update
