.modal
  .modal-window{ 'ng-class' => '{open: showSettings}' }
    .modal-inner
      %label.modal-close{ 'ng-click' => 'closeSettings()' }
      %h1
        Settings
      .form
        %fieldset
          %label
            Slackbot URL -
            %a{ 'href' => 'http://slack.com/services/new/slackbot', 'target' => '_blank' }
              get one here
          %input{ 'ng-model' => 'slack.settings.url' }
        %button{ 'ng-click' => 'updateSettings()' }
          Update
