%ul.dashboard
  %li.dashboard-item
    %h1
      Heroku
    %label.label-switch
      %input{ type: "checkbox" }
        .checkbox
  %li.dashboard-item
    %h1
      Memcachier
    %label.label-switch
      %input{ type: "checkbox" }
        .checkbox
  %li.dashboard-item
    %h1
      RedisToGo
    %label.label-switch
      %input{ type: "checkbox" }
        .checkbox
